body{
  background-color:yellow;  
  margin-top: 30px;
}
h1{
    text-align: center;
    color: white;
}
footer{
    text-align: center;

    

}
   footer a{
    color:red;
    margin: 0 10px;
   } 
    

img{
    display: block;
    max-width: 100%;
    border-radius:10px;
    justify-content:center;
    margin: 10px auto;
}
P{
    text-align: center;

}